# ignore compilation and build artifact of latex 

**/*.aux 
**/*.bbl 
**/*.blg 
**/*.fdb_latexmk 
**/*.fls 
**/*.log 
**/*.out 
**/*.run.xml 
**/*.synctex.gz 
**/*-blx.bib 

# ignore compilation and build artifact of c++ 

**/build/ 
**/compile_commands.json 
**/.cache/ 

# ignore compilation and build artifact from VS code

**/.DS_Store
